* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    ;
}

/* header and navbar */
/* header {} */

header {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand img {
    width: 5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.nav-brand .pro {
    color: #FF42A5;
}

.nav-brand:has(h2) {
    color: #0B0223;
    font-size: 2.1rem;
    font-weight: 700;
}

nav {
    max-width: 71.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar a {
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    margin-right: 1.5rem;
}

.navbar .nav-btn {
    background: rgba(11, 2, 35, 0.10);
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C354F;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
}

.navbar .nav-btn .fa-youtube,
.fa-tiktok {
    font-size: 1.5rem;
    margin: 0.5rem;

}

.navbar .nav-btn .fa-youtube {
    color: rgb(150, 12, 12);
}

.navbar .nav-btn.fa-tiktok {
    color: rgb(255, 0, 80);
}

/* banner section */
.banner {
    background-color: rgba(255, 66, 165, 0.03) 2%, rgba(255, 66, 165, 0.03);
}

.banner-container {
    max-width: 71.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.banner-title-one {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-title-two {
    font-size: 4.6rem;
    font-weight: 800;
    color: #F948B2;
    margin-bottom: 24px;
}

.banner-container img {
    width: 50%;
}

.banner-container:has(p) {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 19px;
}

.btn-one {
    padding: 13px 30px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    color: white;
    font-weight: bold;

}

.btn-two {
    padding: 13px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-top: 15px;
    color: white;
    font-weight: bold;
}

/* Games section */
.games {
    max-width: 71.2rem;
    height: 80vh;
    margin: 0 auto;
    margin-bottom: 3.1rem;

}

.games>h2 {
    color: #0B0223;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.games-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
}

.games-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.card-content img {
    width: 100%;
}

.games .card .card-content {
    width: 16.9rem;
    height: 300px;
}

.card-content p {
    color: #0c74c9;
    font-size: 20px;
    font-weight: 500;
}


/* play online games */
.play-online-games {
    max-width: 71.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
}

.online-games-img {
    width: 50%;
    height: 450px;
}

.online-games-img .small-pic {
    height: 200px;
    width: 200px;
    position: relative;
    left: 330px;
    top: 280px;
}

.online-games-content {
    padding: 50px;
    width: 50%;
}

.online-games-img {
    background-image: url("../images/Rectangle\ 67.png");
    background-repeat: no-repeat;
    background-size: 80%;
}

.online-games-content>h1 {
    font-size: 40px; 
    font-weight: 700;
    color: #F948B2;
}
.online-games-content .anywhere{
    color: #0B0223;
}
.online-games-content:has(p){
    color: #534C64;
    font-size: 18px; 
    font-weight: 400;
}


/* explore more games */
.explore-more {
    margin-top: 50px;
    max-width: 71.2rem;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.games-list-one {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.games-list-two {
    padding: 0 100px;
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.items a {
    margin: 5px 10px;
    /* padding:0.5rem; */
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
}

.items a:hover {
    border-radius: 48px;
    border: 2px solid #F948B2;
}

.items>h4 {
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
}

.items>h4:hover {
    color: #F948B2;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: #0B0223;
    margin-top: 100px;
}

.footer-title {
    font-size: 2.1rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-title img {
    margin-right: 25px;
}

.footer-title .pro {
    color: #FF42A5;

}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links>p {
    color: white;
    margin-right: 60px;
}

.social-links {
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}

.social-links .fa-square-twitter {
    color: #4EC5F7;
    margin-right: 50px;

}

.social-links .fa-instagram {
    color: rgb(228, 64, 95);
    margin-right: 50px;

}

.social-links .fa-youtube {
    color: rgb(150, 12, 12);
}

.terms {
    display: flex;
    justify-content: center;
    color: rgb(129, 133, 134);
    margin-bottom: 27px;
}

.copy-right {
    text-align: center;
    color: #5d5377;
}